#Things that also need to be done:
#symlink media to the media directory of rain
#symlink (or copy) index.html to this directory
#make a cache directory

RewriteEngine On

RewriteRule ^getprojection$ cache.php?req=getprojection [L,QSA]
RewriteRule ^getsummary$ cache.php?req=getsummary [L,QSA]
RewriteRule ^getheatmap$ cache.php?req=getheatmap [L,QSA]
RewriteRule ^getsavenames$ cache.php?req=getsavenames [L]


#data?tmin=0&tmax=10000000000&node=&metric=hv.0
#	combine the query strings
RewriteRule ^data$ cache.php?req=data [L,QSA]
